#breadcrumbs {
  margin-bottom: 1.8em;

  a {
    padding-right: 10px;
  }

  a+a:before {
    padding-right: 10px;
    color: $color-body-text;
    content: "/\00a0";
  }
}

.header {
  padding: 3em 0 2em;
  text-align: center;

  @media (min-width: 768px) {
    padding: 1em 0;
    margin-bottom: 1em;
  }

  h1 {
    font-size: 2em;

    @media (min-width: 768px) {
      font-size: 2.5em;
    }

    a {
      display: inline-block;
    }
  }

  p {
    position: relative;
    display: inline-block;
    margin: 0 auto 1em;
    padding: 0.75em 1em;
    font-size: 1.25em;

    .text {
      position: relative;
      z-index: 2;
    }

    @media (min-width: 768px) {
      margin-bottom: 1em;
    }
  }
}

.code-preview {
  margin-bottom: 25px;
  font-size: 0.7em;

  code, #curl-command {
    border-radius: 10px;
    padding: 0 10px;
    font-weight: bold;
    background-color: black;
    color: white;
    text-align: justify;
  }

  #curl-command:before {
    content: ">";
    color: white;
  }

  #curl-command input,
  #curl-command textarea,
  #curl-command pre {
    background: transparent;
    border: none;
    font-size: 20px;
  }

  #curl-command input, #curl-command textarea {
    padding: 10px;
    width: 95%;
  }

  #curl-command pre {
    width: 100%;
    background-image: radial-gradient(
      rgba(0, 70, 0, 0.75), black 120%
    );
    padding-top: 10px;
    font-family: Inconsolata, monospace;
    text-shadow: 0 0 5px #C8C8C8;
    color: #87cefa;
    &.error {
      color: red;
    }
    &::selection {
      background: #0080FF;
      text-shadow: none;
    }
  }

}

.curl-widget {
  margin-top: 10px;
  text-align: justify;
}

@media screen and (min-width: 1000px) {
  .code-preview {
    font-size: 1.2em;
    code {
      padding: 10px 50px;
    }
  }
}
